<div class="sg-header-styles">
  {% for i in 1..6 %}
    <div class="sg-pattern pl-heading-examples">
      <h3 class="sg-pattern-title">h{{ i }}</h3>
      <h{{ i }} class="h{{ i }}">This is a great Header {{ i }} example</h{{ i }}>
    </div>
  {% endfor %}
</div>
{% if meta %}
  <p> <small>{{ meta.description }}</small> </p>
{% endif %}
