{% extends "@molecules/_block.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {# This lets the Drupal template define variable values. #}
  {% if site_logo %}
    {% include "@atoms/04-images/00-image/image.twig" with {
      img_url: logo_url,
      img_src: logo_source,
      img_alt: logo_alt,
      image_blockname: "logo",
      image_link_base_class: "logo",
    } %}
  {# This is similar to the above one and used in the styleguide. #}
  {% else %}
    {% include "@atoms/04-images/00-image/image.twig" with {
    img_url: "#",
    img_src: "../../images/logo.svg",
    img_alt: "Brand logo image",
    image_blockname: "logo",
    image_link_base_class: "logo",
    } %}
  {% endif %}

  {# @TODO: Define site name and slogan display here. #}

{% endblock %}
