{#
@TODO Use component for the site name and slogan part too.
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

  {% include "@molecules/branding/branding.twig" with {
    logo_source: site_logo,
    logo_url: path('<front>'),
    logo_alt: 'My Home'|t,
  } %}


  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}

  {% if site_slogan %}
    <p>{{ site_slogan }}<p>
  {% endif %}
