{#
/**
 * @file
 * Search form template.
 * 1. template for Drupal
 * 2. Template for Pattern Lab styleguide
 * @TODO ?? add attributes to form like in form.html.twig
 */
#}

<form {{ bem('search')}}>
  {% if children %} {# 1. #}
    {{ children }}
  {% else %} {# 2. #}
    <div class="search__item">
      <input title="Enter the terms you wish to search for." size="15" maxlength="128" class="form-search">
    </div>
    <div class="form-actions">
      <input type="submit" value="Search" class="form-item__textfield button js-form-submit form-submit">
    </div>
  {% endif %}
</form>
