//  Empty
.header {
  background-color: #56a9d6;
  margin-bottom: 2rem;
}

.header-wrapper {
  @include wrapper;

  display: flex;
  padding: 3%;
}

.header__logo {
  width: 29%;
}

.logo__img {
  display: block;
}

.header_search-menu {
  margin-left: auto;
}
