{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 * - elements: contains the drupal blocks in the region.
 *
 * @see template_preprocess_region()
 */
#}

{#
This template displays just the blocks defined below.
Other blocks added to the region on Drupal's admin UI won't be displayed!
#}

{% embed "@organisms/site/site-header/site-header.twig" %}
  {% block logo %}
    {{ elements.emutant_branding }}
  {% endblock %}
  {% block search %}
    {{ elements.emutant_search }}
  {% endblock %}
  {% block menu %}
    {{ elements.emutant_main_menu }}
  {% endblock %}
{% endembed %}
